.footer {
  text-align: center;
  color: white;
  padding: 1rem;
  font-weight: 500;
}

.footer-doador {
  background-color: #dc3545;
}

.footer-hemocentro {
  background-color: #0d6efd;
}

.footer-central {
  background-color: rgba(33, 136, 56, 0.98);
}
